.itemCard {
  display: block;
  max-width: 190px;
  padding: 20px 10px;
}
.itemCard a {
  display: block;
  position: relative;
  transition: 0.2s;
}
.itemCard a:hover {
  transform: scale(1.1);
  z-index: 1;
}
.rating {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  font-weight: 600;
}
.rating.gold {
  background-color: #eacc7f;
  color: #111;
}
.rating.green {
  background-color: #3bb33b;
}
.rating.grey {
  background-color: #666666;
}
.rating.red {
  background-color: #fa2104;
}
