@font-face {
  font-family: "Open Sans Condensed ExtraBold";
  font-weight: 800;
  src: local("Open Sans Condensed ExtraBold"),
    url("./OpenSans_Condensed-ExtraBold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: local("Open Sans"), url("./OpenSans-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Bold";
  font-weight: 600;
  src: local("Open Sans Bold"), url("./OpenSans-Bold.woff") format("woff");
  font-display: swap;
}
