body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.wrapper {
  padding-top: 80px;
  min-height: calc(100vh - 80px);
}
h1,
h2 {
  font-family: "Open Sans Condensed ExtraBold", sans-serif;
  margin-top: 0;
}
h2 {
  text-transform: capitalize;
  margin-bottom: 0;
}
h2.no-transform {
  text-transform: none;
}
img {
  max-width: 100%;
}
.section img {
  border: 1px solid #ff0000;
}
.dark .section img {
  border-color: #222;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.section {
  padding: 30px 0;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  width: 100%;
  display: flex;
}
.no-flex {
  display: block;
}
.align-center {
  justify-content: center;
}
